* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    background-image: url('https://img.pikbest.com/ai/illus_our/20230428/fa13f582ffeb52f3559bfe041c588d24.jpg!w700wp');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
  }

  .m_header {
    background: #4a148c; /* Deep purple */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .m_header h1 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
  }
  
  .m_navbar {
    overflow: hidden;
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
  }
  .m_navbar a {
    color: #f0f0f0;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  .m_navbar a:hover {
    background-color: #4a148c;
    color: #fff;
  }
  
  .contact {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: rgb(237, 221, 219);
    border-radius: 30px;
    padding: 20px;
    margin: 20px auto;
    max-width: 640px;
    transition: transform 0.8s ease;
    text-align: center;
    margin-bottom: 60px;
  }

  .contact:hover {
    transform: scale(1.05);
    transition-duration: 1.2s;
  }

  .contact h2 {
    color: #4a148c;
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .contact p {
    color: #333;
    font-size: 1.5em;
    margin: 15px 0;
  }
  .contact p strong {
    font-weight: bold;
  }
  
  .user-comments {
    background-color: rgb(237, 221, 219);
    border-radius: 30px;
    padding: 20px;
    max-width: 650px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.8s ease;
  }
  .user-comments:hover {
    transform: scale(1.05);
    transition-duration: 1.2s;
  }
  .user-comments h2 {
    font-size: 2.5em;
    color: #4a148c;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-top: 10px;
  }
  .user-comments button {
    margin-left: 230px;
  }
  .user-comments label,button {
    font-size: 1.5em;
  }
  .form-group {
    margin-bottom: 15px;
  }
  label {
    display: block;
    font-weight: bold;
    color: #4a148c;
    margin-bottom: 5px;
  }
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #4a148c;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  textarea:focus, #user-email:focus {
    outline: none;
    border-color: purple;
    /* background-color: #ffffff; */
    /* transform: scale(1.02); */
  }

  button {
    padding: 10px 20px;
    background-color: #4a148c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #6a1b9a;
  }
  
  @media screen and (max-width: 768px) {
    .m_header h1 {
      font-size: 2.5em;
    }
    .contact,
    .user-comments {
      padding: 15px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .m_header h1 {
      font-size: 2em;
    }
    .m_navbar a {
      font-size: 14px;
      padding: 12px;
    }
  }
  
